/* Pop up */
#ia-popup {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.ia-popup-container {
	width: 600px;
	height: 200px;
	margin: auto;
	background: #ffffff;
	border-radius: 20px;
	border: 1px solid #000000;
	display: flex;
	align-items: center;
	position: relative;
}
.ia-popup-content {
	text-align: center;
	width: 100%;
}
.ia-popup-content h1 {
	font-size: 60px;
	color: #2EA3F2;
}
.ia-popup-content h3 {
	font-size: 26px;
}
.ia-close-popup {
	position: absolute;
	top: -5px;
	right: -10px;
	background: #000000;
	border-radius: 50%;
	color: #ffffff;
	cursor: pointer;
}
.ia-popup-btn {
	cursor: pointer;
}